jspServlet/ServletJSP/src/conf/xml-resources/web-service-references/YuukouServerService/wsdl/yuukou2.wmin.ac.uk_8181/YuukouServerService/YuukouServerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://server.webservice.jax/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.webservice.jax/">

<xs:element name="checkConfigHealth" type="tns:checkConfigHealth"/>

<xs:element name="checkConfigHealthResponse" type="tns:checkConfigHealthResponse"/>

<xs:element name="checkTimeTablesDatabase" type="tns:checkTimeTablesDatabase"/>

<xs:element name="checkTimeTablesDatabaseResponse" type="tns:checkTimeTablesDatabaseResponse"/>

<xs:element name="getGraphWithRequest" type="tns:getGraphWithRequest"/>

<xs:element name="getGraphWithRequestResponse" type="tns:getGraphWithRequestResponse"/>

<xs:element name="getListRooms" type="tns:getListRooms"/>

<xs:element name="getListRoomsResponse" type="tns:getListRoomsResponse"/>

<xs:element name="healthForAllRooms" type="tns:healthForAllRooms"/>

<xs:element name="healthForAllRoomsResponse" type="tns:healthForAllRoomsResponse"/>

<xs:element name="healthForRoom" type="tns:healthForRoom"/>

<xs:element name="healthForRoomResponse" type="tns:healthForRoomResponse"/>

<xs:element name="healthResourcesReportForAllRooms" type="tns:healthResourcesReportForAllRooms"/>

<xs:element name="healthResourcesReportForAllRoomsResponse" type="tns:healthResourcesReportForAllRoomsResponse"/>

<xs:element name="healthResourcesReportForRoom" type="tns:healthResourcesReportForRoom"/>

<xs:element name="healthResourcesReportForRoomResponse" type="tns:healthResourcesReportForRoomResponse"/>

<xs:element name="last" type="tns:last"/>

<xs:element name="lastResponse" type="tns:lastResponse"/>

<xs:element name="launchCycle" type="tns:launchCycle"/>

<xs:element name="searchHistoryUser" type="tns:searchHistoryUser"/>

<xs:element name="searchHistoryUserResponse" type="tns:searchHistoryUserResponse"/>

<xs:element name="who" type="tns:who"/>

<xs:element name="whoResponse" type="tns:whoResponse"/>

<xs:complexType name="checkConfigHealth">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkConfigHealthResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="who">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="whoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListRooms">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getListRoomsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthResourcesReportForRoom">
<xs:sequence>
<xs:element name="idRoom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthResourcesReportForRoomResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthForAllRooms">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="healthForAllRoomsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkTimeTablesDatabase">
<xs:sequence>
<xs:element name="arg0" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkTimeTablesDatabaseResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="healthResourcesReportForAllRooms">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="healthResourcesReportForAllRoomsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchHistoryUser">
<xs:sequence>
<xs:element name="idUser" type="xs:string" minOccurs="0"/>
<xs:element name="who" type="xs:boolean"/>
<xs:element name="last" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchHistoryUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="last">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="lastResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="launchCycle">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getGraphWithRequest">
<xs:sequence>
<xs:element name="rqt" type="xs:string" minOccurs="0"/>
<xs:element name="rqtLqbel" type="xs:string" minOccurs="0"/>
<xs:element name="label" type="xs:string" minOccurs="0"/>
<xs:element name="startTime" type="xs:string" minOccurs="0"/>
<xs:element name="endTime" type="xs:string" minOccurs="0"/>
<xs:element name="factor" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGraphWithRequestResponse">
<xs:sequence>
<xs:element name="return" type="tns:imageTransfered" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="imageTransfered">
<xs:sequence>
<xs:element name="contents" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthForRoom">
<xs:sequence>
<xs:element name="idRoom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthForRoomResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>