WebAppJSF/web/WEB-INF/wsdl/yuukou2.wmin.ac.uk_8181/YuukouServerService/YuukouServerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.webservice.jax/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.webservice.jax/" name="YuukouServerService">
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="YuukouServerPortBindingPolicy">
<sp:TransportBinding>
<wsp:Policy>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic128/>
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:IncludeTimestamp/>
<sp:Layout>
<wsp:Policy>
<sp:Lax/>
</wsp:Policy>
</sp:Layout>
<sp:TransportToken>
<wsp:Policy>
<sp:HttpsToken RequireClientCertificate="false"/>
</wsp:Policy>
</sp:TransportToken>
</wsp:Policy>
</sp:TransportBinding>
<sp:Wss10/>
<wsam:Addressing/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://server.webservice.jax/" schemaLocation="https://yuukou2.wmin.ac.uk:8181/YuukouServerService/YuukouServerService?xsd=1"/>
</xsd:schema>
</types>
<message name="last">
<part name="parameters" element="tns:last"/>
</message>
<message name="lastResponse">
<part name="parameters" element="tns:lastResponse"/>
</message>
<message name="getGraphWithRequest">
<part name="parameters" element="tns:getGraphWithRequest"/>
</message>
<message name="getGraphWithRequestResponse">
<part name="parameters" element="tns:getGraphWithRequestResponse"/>
</message>
<message name="getListRooms">
<part name="parameters" element="tns:getListRooms"/>
</message>
<message name="getListRoomsResponse">
<part name="parameters" element="tns:getListRoomsResponse"/>
</message>
<message name="healthResourcesReportForAllRooms">
<part name="parameters" element="tns:healthResourcesReportForAllRooms"/>
</message>
<message name="healthResourcesReportForAllRoomsResponse">
<part name="parameters" element="tns:healthResourcesReportForAllRoomsResponse"/>
</message>
<message name="healthResourcesReportForRoom">
<part name="parameters" element="tns:healthResourcesReportForRoom"/>
</message>
<message name="healthResourcesReportForRoomResponse">
<part name="parameters" element="tns:healthResourcesReportForRoomResponse"/>
</message>
<message name="getSitesInformation">
<part name="parameters" element="tns:getSitesInformation"/>
</message>
<message name="getSitesInformationResponse">
<part name="parameters" element="tns:getSitesInformationResponse"/>
</message>
<message name="checkConfigHealth">
<part name="parameters" element="tns:checkConfigHealth"/>
</message>
<message name="checkConfigHealthResponse">
<part name="parameters" element="tns:checkConfigHealthResponse"/>
</message>
<message name="who">
<part name="parameters" element="tns:who"/>
</message>
<message name="whoResponse">
<part name="parameters" element="tns:whoResponse"/>
</message>
<message name="healthForRoom">
<part name="parameters" element="tns:healthForRoom"/>
</message>
<message name="healthForRoomResponse">
<part name="parameters" element="tns:healthForRoomResponse"/>
</message>
<message name="healthForAllRooms">
<part name="parameters" element="tns:healthForAllRooms"/>
</message>
<message name="healthForAllRoomsResponse">
<part name="parameters" element="tns:healthForAllRoomsResponse"/>
</message>
<message name="searchHistoryUser">
<part name="parameters" element="tns:searchHistoryUser"/>
</message>
<message name="searchHistoryUserResponse">
<part name="parameters" element="tns:searchHistoryUserResponse"/>
</message>
<message name="launchCycle">
<part name="parameters" element="tns:launchCycle"/>
</message>
<portType name="YuukouServer">
<operation name="last">
<input wsam:Action="http://server.webservice.jax/YuukouServer/lastRequest" message="tns:last"/>
<output wsam:Action="http://server.webservice.jax/YuukouServer/lastResponse" message="tns:lastResponse"/>
</operation>
<operation name="getGraphWithRequest">
<input wsam:Action="http://server.webservice.jax/YuukouServer/getGraphWithRequestRequest" message="tns:getGraphWithRequest"/>
<output wsam:Action="http://server.webservice.jax/YuukouServer/getGraphWithRequestResponse" message="tns:getGraphWithRequestResponse"/>
</operation>
<operation name="getListRooms">
<input wsam:Action="http://server.webservice.jax/YuukouServer/getListRoomsRequest" message="tns:getListRooms"/>
<output wsam:Action="http://server.webservice.jax/YuukouServer/getListRoomsResponse" message="tns:getListRoomsResponse"/>
</operation>
<operation name="healthResourcesReportForAllRooms">
<input wsam:Action="http://server.webservice.jax/YuukouServer/healthResourcesReportForAllRoomsRequest" message="tns:healthResourcesReportForAllRooms"/>
<output wsam:Action="http://server.webservice.jax/YuukouServer/healthResourcesReportForAllRoomsResponse" message="tns:healthResourcesReportForAllRoomsResponse"/>
</operation>
<operation name="healthResourcesReportForRoom">
<input wsam:Action="http://server.webservice.jax/YuukouServer/healthResourcesReportForRoomRequest" message="tns:healthResourcesReportForRoom"/>
<output wsam:Action="http://server.webservice.jax/YuukouServer/healthResourcesReportForRoomResponse" message="tns:healthResourcesReportForRoomResponse"/>
</operation>
<operation name="getSitesInformation">
<input wsam:Action="http://server.webservice.jax/YuukouServer/getSitesInformationRequest" message="tns:getSitesInformation"/>
<output wsam:Action="http://server.webservice.jax/YuukouServer/getSitesInformationResponse" message="tns:getSitesInformationResponse"/>
</operation>
<operation name="checkConfigHealth">
<input wsam:Action="http://server.webservice.jax/YuukouServer/checkConfigHealthRequest" message="tns:checkConfigHealth"/>
<output wsam:Action="http://server.webservice.jax/YuukouServer/checkConfigHealthResponse" message="tns:checkConfigHealthResponse"/>
</operation>
<operation name="who">
<input wsam:Action="http://server.webservice.jax/YuukouServer/whoRequest" message="tns:who"/>
<output wsam:Action="http://server.webservice.jax/YuukouServer/whoResponse" message="tns:whoResponse"/>
</operation>
<operation name="healthForRoom">
<input wsam:Action="http://server.webservice.jax/YuukouServer/healthForRoomRequest" message="tns:healthForRoom"/>
<output wsam:Action="http://server.webservice.jax/YuukouServer/healthForRoomResponse" message="tns:healthForRoomResponse"/>
</operation>
<operation name="healthForAllRooms">
<input wsam:Action="http://server.webservice.jax/YuukouServer/healthForAllRoomsRequest" message="tns:healthForAllRooms"/>
<output wsam:Action="http://server.webservice.jax/YuukouServer/healthForAllRoomsResponse" message="tns:healthForAllRoomsResponse"/>
</operation>
<operation name="searchHistoryUser">
<input wsam:Action="http://server.webservice.jax/YuukouServer/searchHistoryUserRequest" message="tns:searchHistoryUser"/>
<output wsam:Action="http://server.webservice.jax/YuukouServer/searchHistoryUserResponse" message="tns:searchHistoryUserResponse"/>
</operation>
<operation name="launchCycle">
<input wsam:Action="http://server.webservice.jax/YuukouServer/launchCycle" message="tns:launchCycle"/>
</operation>
</portType>
<binding name="YuukouServerPortBinding" type="tns:YuukouServer">
<wsp:PolicyReference URI="#YuukouServerPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="last">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGraphWithRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="healthResourcesReportForAllRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="healthResourcesReportForRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSitesInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkConfigHealth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="who">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="healthForRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="healthForAllRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchHistoryUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="launchCycle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="YuukouServerService">
<port name="YuukouServerPort" binding="tns:YuukouServerPortBinding">
<soap:address location="https://yuukou2.wmin.ac.uk:8181/YuukouServerService/YuukouServerService"/>
</port>
</service>
</definitions>