WebAppJSF/web/WEB-INF/wsdl/yuukou2.wmin.ac.uk_8181/YuukouServerService/YuukouServerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://server.webservice.jax/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.webservice.jax/">

<xs:element name="askMaintenance" type="tns:askMaintenance"/>

<xs:element name="askMaintenanceResponse" type="tns:askMaintenanceResponse"/>

<xs:element name="checkConfigHealth" type="tns:checkConfigHealth"/>

<xs:element name="checkConfigHealthResponse" type="tns:checkConfigHealthResponse"/>

<xs:element name="endMaintenance" type="tns:endMaintenance"/>

<xs:element name="endMaintenanceResponse" type="tns:endMaintenanceResponse"/>

<xs:element name="getGraphWithRequest" type="tns:getGraphWithRequest"/>

<xs:element name="getGraphWithRequestResponse" type="tns:getGraphWithRequestResponse"/>

<xs:element name="getGraphWithRequestUsingJson" type="tns:getGraphWithRequestUsingJson"/>

<xs:element name="getGraphWithRequestUsingJsonResponse" type="tns:getGraphWithRequestUsingJsonResponse"/>

<xs:element name="getListRooms" type="tns:getListRooms"/>

<xs:element name="getListRoomsResponse" type="tns:getListRoomsResponse"/>

<xs:element name="getRoomsType" type="tns:getRoomsType"/>

<xs:element name="getRoomsTypeResponse" type="tns:getRoomsTypeResponse"/>

<xs:element name="getSitesInformation" type="tns:getSitesInformation"/>

<xs:element name="getSitesInformationResponse" type="tns:getSitesInformationResponse"/>

<xs:element name="healthForAllRooms" type="tns:healthForAllRooms"/>

<xs:element name="healthForAllRoomsResponse" type="tns:healthForAllRoomsResponse"/>

<xs:element name="healthForRoom" type="tns:healthForRoom"/>

<xs:element name="healthForRoomResponse" type="tns:healthForRoomResponse"/>

<xs:element name="healthResourcesReportForAllRooms" type="tns:healthResourcesReportForAllRooms"/>

<xs:element name="healthResourcesReportForAllRoomsResponse" type="tns:healthResourcesReportForAllRoomsResponse"/>

<xs:element name="healthResourcesReportForRoom" type="tns:healthResourcesReportForRoom"/>

<xs:element name="healthResourcesReportForRoomResponse" type="tns:healthResourcesReportForRoomResponse"/>

<xs:element name="isCycleRunning" type="tns:isCycleRunning"/>

<xs:element name="isCycleRunningResponse" type="tns:isCycleRunningResponse"/>

<xs:element name="isMaintenanceScheduled" type="tns:isMaintenanceScheduled"/>

<xs:element name="isMaintenanceScheduledResponse" type="tns:isMaintenanceScheduledResponse"/>

<xs:element name="last" type="tns:last"/>

<xs:element name="lastDefault" type="tns:lastDefault"/>

<xs:element name="lastDefaultResponse" type="tns:lastDefaultResponse"/>

<xs:element name="lastResponse" type="tns:lastResponse"/>

<xs:element name="launchCycle" type="tns:launchCycle"/>

<xs:element name="searchHistoryUser" type="tns:searchHistoryUser"/>

<xs:element name="searchHistoryUserResponse" type="tns:searchHistoryUserResponse"/>

<xs:element name="who" type="tns:who"/>

<xs:element name="whoResponse" type="tns:whoResponse"/>

<xs:complexType name="checkConfigHealth">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkConfigHealthResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSitesInformation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSitesInformationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isCycleRunning">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isCycleRunningResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="endMaintenance">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="endMaintenanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGraphWithRequestUsingJson">
<xs:sequence>
<xs:element name="rqt" type="xs:string" minOccurs="0"/>
<xs:element name="rqtLqbel" type="xs:string" minOccurs="0"/>
<xs:element name="label" type="xs:string" minOccurs="0"/>
<xs:element name="startTime" type="xs:string" minOccurs="0"/>
<xs:element name="endTime" type="xs:string" minOccurs="0"/>
<xs:element name="factor" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGraphWithRequestUsingJsonResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="launchCycle">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getGraphWithRequest">
<xs:sequence>
<xs:element name="rqt" type="xs:string" minOccurs="0"/>
<xs:element name="rqtLqbel" type="xs:string" minOccurs="0"/>
<xs:element name="label" type="xs:string" minOccurs="0"/>
<xs:element name="startTime" type="xs:string" minOccurs="0"/>
<xs:element name="endTime" type="xs:string" minOccurs="0"/>
<xs:element name="factor" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGraphWithRequestResponse">
<xs:sequence>
<xs:element name="return" type="tns:imageTransfered" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="imageTransfered">
<xs:sequence>
<xs:element name="contents" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="dates" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="hasData" type="xs:boolean"/>
<xs:element name="typeContents" type="xs:string" minOccurs="0"/>
<xs:element name="values" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="askMaintenance">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="askMaintenanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="who">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="whoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListRooms">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getListRoomsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthResourcesReportForRoom">
<xs:sequence>
<xs:element name="idRoom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthResourcesReportForRoomResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthForAllRooms">
<xs:sequence>
<xs:element name="image" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthForAllRoomsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lastDefault">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="lastDefaultResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthResourcesReportForAllRooms">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="healthResourcesReportForAllRoomsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchHistoryUser">
<xs:sequence>
<xs:element name="idUser" type="xs:string" minOccurs="0"/>
<xs:element name="who" type="xs:boolean"/>
<xs:element name="last" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchHistoryUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomsType">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomsTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="last">
<xs:sequence>
<xs:element name="days" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lastResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isMaintenanceScheduled">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isMaintenanceScheduledResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthForRoom">
<xs:sequence>
<xs:element name="idRoom" type="xs:string" minOccurs="0"/>
<xs:element name="image" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthForRoomResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>